.label {
   margin: 5px;
}

.m10 {
   margin: 10px;
}

.btnSubmit {

   min-width: 100%;
   background-color: blueviolet;
}

.btnOAuth {

   width: 50%;
   background-color: darkgray;
   border-color: darkgray;
}