extends layout

block content

    h1 #{mainContent.title}
    h2 Author: #{mainContent.author}.
    br
    p  #{mainContent.content}

    hr

    form(action="/logout" method="post")
        button.btn.btn-lg.btn-danger.btn-block(type="submit") Logout
