extends layout

block content

  form(action="/loginlocal" method="post")
    h1 Sign In
    input(type='hidden', name='_csrf', value=csrf)
    .form-group
      label(for="email") Email
      input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
    .form-group
      label(for="password") Password
      input.form-control(type="password" id="password" name="password" required)

    button.btn.btn-lg.btn-primary.btn-block(type="submit") Login


    br
    div.d-flex.flex-row.bd-highlight.mb-3
      div.p-2.bd-highlight
        a.btn.btn-secondary(href="/login/github" data-provider="github")
          i.fa.fa-github.fa-2x(aria-hidden='true') 
      div.p-2.bd-highlight
        a.btn.btn-secondary(href="/login/vkontakte" data-provider="vk")
          i.fa.fa-vk.fa-2x(aria-hidden='true') 

