extends layout

block content
   div.d-flex.flex-column.align-items-center
      h1 Direct-dev.ru 
      h2 Main Page


      div.d-flex.flex-row.m-3
         div.bd-highlight
            a.btn.btn-primary.btn-block(href="/login") Sign In



