extends layout



block content

    h1 Welcome, #{user.displayname} 
    h4 Your email: #{user.email}

    h5 You are logged in

    form(action="/protected/main-content" method="get")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Go main page
    br
    hr

    form(action="/redirect/mainspa" method="get")
        button.btn.btn-lg.btn-secondary.btn-block(type="submit") Go SPA page
    br

    form(action="/logout" method="post")
        button.btn.btn-lg.btn-danger.btn-block(type="submit") Logout
