.contentWrapper {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: left;
}

.contentInner {

   background: #ffffff;
   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
   color: #000;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   transition: all .3s;
}